[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django = "==3.1"
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
sentry-sdk = "*"
django-anymail = "*"
# djangorestframework = "==3.12"
djangorestframework = "*"
djoser = "*"
django-axes = "*"
django-role-permissions = "*"
django-cpf-cnpj = "*"
drf-yasg = "*"
# django-s3-folder-storage = "*"
# pyjwt = "*"

[dev-packages]
# pytest = "*"
# pytest-mock = "*"
# pytest-django = "*"
# model-bakery = "*"
# pytest-cov = "*"
ipython = "*"
django-extensions = "*"
neovim = "*"
faker = "*"
ropevim = "*"

[requires]
python_version = "3.9"
